<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% if title %}{{ title }} · {% endif %}{{ site.name }}</title>
    <meta name="description" content="{{ description or site.description }}" />
    <link rel="stylesheet" href="{{ '/assets/xp/XP.css' | url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/site.css' | url }}" />
  </head>
  <body>
    <a class="skip-link" href="#content">Skip to content</a>

    <main id="content" class="page" role="main">
      {{ content | safe }}
    </main>

    <div class="startmenu" id="startmenu" hidden>
      <div class="startmenu__header">
        <div class="startmenu__avatar" aria-hidden="true"></div>
        <div class="startmenu__username">{{ site.name }}</div>
      </div>
      <div class="startmenu__body" role="navigation" aria-label="Start menu">
        <div class="startmenu__col startmenu__col--left">
          <div class="startmenu__group" aria-label="Quick launches">
            <a class="startmenu__item" href="#" aria-disabled="true" tabindex="-1">
              <img class="startmenu__icon" src="{{ '/assets/icons/ie.svg' | url }}" alt="" width="32" height="32" />
              <span class="startmenu__text">
                <span class="startmenu__meta">Internet</span>
                <span class="startmenu__label">Internet Explorer</span>
              </span>
            </a>

            <a class="startmenu__item" href="#" aria-disabled="true" tabindex="-1">
              <img class="startmenu__icon" src="{{ '/assets/icons/outlook-express.svg' | url }}" alt="" width="32" height="32" />
              <span class="startmenu__text">
                <span class="startmenu__meta">E-mail</span>
                <span class="startmenu__label">Outlook Express</span>
              </span>
            </a>

            <a class="startmenu__item" href="#" aria-disabled="true" tabindex="-1">
              <img class="startmenu__icon" src="{{ '/assets/icons/windows-media-player.svg' | url }}" alt="" width="32" height="32" />
              <span class="startmenu__text">
                <span class="startmenu__label">Windows Media Player</span>
              </span>
            </a>

            <a class="startmenu__item" href="#" aria-disabled="true" tabindex="-1">
              <img class="startmenu__icon" src="{{ '/assets/icons/msn.svg' | url }}" alt="" width="32" height="32" />
              <span class="startmenu__text">
                <span class="startmenu__label">MSN</span>
              </span>
            </a>

            <a class="startmenu__item" href="#" aria-disabled="true" tabindex="-1">
              <img class="startmenu__icon" src="{{ '/assets/icons/windows-messenger.svg' | url }}" alt="" width="32" height="32" />
              <span class="startmenu__text">
                <span class="startmenu__label">Windows Messenger</span>
              </span>
            </a>

            <a class="startmenu__item" href="#" aria-disabled="true" tabindex="-1">
              <img class="startmenu__icon" src="{{ '/assets/icons/tour-windows-xp.svg' | url }}" alt="" width="32" height="32" />
              <span class="startmenu__text">
                <span class="startmenu__label">Tour Windows XP</span>
              </span>
            </a>

            <a class="startmenu__item" href="#" aria-disabled="true" tabindex="-1">
              <img class="startmenu__icon" src="{{ '/assets/icons/files-settings-transfer-wizard.svg' | url }}" alt="" width="32" height="32" />
              <span class="startmenu__text">
                <span class="startmenu__label">Files and Settings Transfer Wizard</span>
              </span>
            </a>
          </div>

          <a class="startmenu__item startmenu__allprograms" href="#" aria-disabled="true" tabindex="-1">
            <img class="startmenu__icon" src="{{ '/assets/icons/all-programs.svg' | url }}" alt="" width="32" height="32" />
            <span class="startmenu__text">
              <span class="startmenu__label">All Programs</span>
            </span>
          </a>
        </div>
        <div class="startmenu__col startmenu__col--right">
          <a class="startmenu__item startmenu__item--system" href="{{ '/my-documents/' | url }}">
            <img class="startmenu__icon" src="{{ '/assets/icons/my-documents.svg' | url }}" alt="" width="24" height="24" />
            <span class="startmenu__text"><span class="startmenu__label">My Documents</span></span>
          </a>
          <a class="startmenu__item startmenu__item--system startmenu__item--submenu" href="#" aria-disabled="true" tabindex="-1">
            <img class="startmenu__icon" src="{{ '/assets/icons/my-recent-documents.svg' | url }}" alt="" width="24" height="24" />
            <span class="startmenu__text"><span class="startmenu__label">My Recent Documents</span></span>
          </a>
          <a class="startmenu__item startmenu__item--system" href="{{ '/my-pictures/' | url }}">
            <img class="startmenu__icon" src="{{ '/assets/icons/my-pictures.svg' | url }}" alt="" width="24" height="24" />
            <span class="startmenu__text"><span class="startmenu__label">My Pictures</span></span>
          </a>
          <a class="startmenu__item startmenu__item--system" href="#" aria-disabled="true" tabindex="-1">
            <img class="startmenu__icon" src="{{ '/assets/icons/my-music.svg' | url }}" alt="" width="24" height="24" />
            <span class="startmenu__text"><span class="startmenu__label">My Music</span></span>
          </a>
          <a class="startmenu__item startmenu__item--system" href="#" aria-disabled="true" tabindex="-1">
            <img class="startmenu__icon" src="{{ '/assets/icons/my-computer.svg' | url }}" alt="" width="24" height="24" />
            <span class="startmenu__text"><span class="startmenu__label">My Computer</span></span>
          </a>

          <div class="startmenu__divider" role="separator" aria-hidden="true"></div>

          <a class="startmenu__item startmenu__item--system" href="#" aria-disabled="true" tabindex="-1">
            <img class="startmenu__icon" src="{{ '/assets/icons/control-panel.svg' | url }}" alt="" width="24" height="24" />
            <span class="startmenu__text"><span class="startmenu__label">Control Panel</span></span>
          </a>
          <a class="startmenu__item startmenu__item--system" href="#" aria-disabled="true" tabindex="-1">
            <img class="startmenu__icon" src="{{ '/assets/icons/program-access-defaults.svg' | url }}" alt="" width="24" height="24" />
            <span class="startmenu__text"><span class="startmenu__label">Set Program Access and Defaults</span></span>
          </a>
          <a class="startmenu__item startmenu__item--system" href="#" aria-disabled="true" tabindex="-1">
            <img class="startmenu__icon" src="{{ '/assets/icons/printers-faxes.svg' | url }}" alt="" width="24" height="24" />
            <span class="startmenu__text"><span class="startmenu__label">Printers and Faxes</span></span>
          </a>

          <div class="startmenu__divider" role="separator" aria-hidden="true"></div>

          <a class="startmenu__item startmenu__item--system" href="#" aria-disabled="true" tabindex="-1">
            <img class="startmenu__icon" src="{{ '/assets/icons/help-support.svg' | url }}" alt="" width="24" height="24" />
            <span class="startmenu__text"><span class="startmenu__label">Help and Support</span></span>
          </a>
          <a class="startmenu__item startmenu__item--system" href="#" aria-disabled="true" tabindex="-1">
            <img class="startmenu__icon" src="{{ '/assets/icons/search.svg' | url }}" alt="" width="24" height="24" />
            <span class="startmenu__text"><span class="startmenu__label">Search</span></span>
          </a>
          <a class="startmenu__item startmenu__item--system" href="#" aria-disabled="true" tabindex="-1">
            <img class="startmenu__icon" src="{{ '/assets/icons/run.svg' | url }}" alt="" width="24" height="24" />
            <span class="startmenu__text"><span class="startmenu__label">Run...</span></span>
          </a>
        </div>
      </div>
      <div class="startmenu__footer" role="group" aria-label="Session actions">
        <button class="startmenu__footerbtn" type="button" data-startmenu-action="logoff">
          <img class="startmenu__footericon" src="{{ '/assets/icons/logoff.svg' | url }}" alt="" width="20" height="20" />
          <span>Log Off</span>
        </button>
        <button class="startmenu__footerbtn" type="button" data-startmenu-action="shutdown">
          <img class="startmenu__footericon" src="{{ '/assets/icons/power.svg' | url }}" alt="" width="20" height="20" />
          <span>Turn Off Computer</span>
        </button>
      </div>
    </div>

    <div class="taskbar" role="navigation" aria-label="Taskbar">
      <button class="start-button" id="startButton" type="button" aria-haspopup="true" aria-expanded="false" aria-controls="startmenu">
        start
      </button>

      <div class="tasks" aria-label="Task buttons">
        {% set taskHref = page.url or "/" %}
        {% set taskLabel = title or "Window" %}
        {% if page.url and page.url.startsWith('/projects/') and not title %}
          {% set taskLabel = "Projects" %}
        {% endif %}
        <a class="task" href="{{ taskHref | url }}" aria-current="page">{{ taskLabel }}</a>
      </div>

      <div class="systray" aria-label="Notification area">
        <span class="clock" id="clock">--:--</span>
      </div>
    </div>

    <script src="{{ '/assets/js/shell.js' | url }}" defer></script>
  </body>
</html>
