---
layout: layouts/base.njk
title: My Documents
permalink: /my-documents/
explorerPath: C:\\My Documents
---

{% from "components/explorer-window.njk" import explorerWindow %}

{% call explorerWindow("My Documents", "C:\\My Documents", (collections.documentFolders.length ~ " objects"), "") %}
  {% if collections.documentFolders and collections.documentFolders.length %}
    <div class="explorer__icons" role="list" aria-label="C:\\My Documents contents">
      {% for folder in collections.documentFolders %}
        <a class="explorer__item explorer__item--link" role="listitem" href="{{ ('/my-documents/' ~ folder.slug ~ '/') | url }}" aria-label="Open folder {{ folder.title }}">
          <img class="explorer__itemimg" src="{{ '/assets/icons/folder.svg' | url }}" alt="" width="48" height="48" />
          <span class="explorer__itemlabel">{{ folder.title }}</span>
        </a>
      {% endfor %}
    </div>
  {% else %}
    <div class="prose explorer__prose">
      <p>No folders yet. Create a subfolder in <code>src/content/documents/</code> and add <code>.md</code> files inside.</p>
    </div>
  {% endif %}
{% endcall %}
